/* learning CSS3 */

@import url("./reset.css");

@font-face{
	font-family: bookTitle;
	src: url("./UniversLTStd-LightUltraCn.otf");
}
@font-face{
	font-family: bookDescription;
	src: url("./vijaya.ttf");
}

body {
	background-color: #666;
}
#container {
	margin: 0;
	padding: 0.1px 0;
}

.book-page {
	width: 520px;
	height: 800px;
	padding: 60px 60px;
	background-color: #fff;
	margin: 10px auto;
	box-shadow: 0px 0px 10px #000;
	position: relative;
	box-sizing: content-box;
}

#cover {
	background-color: #fff;
	background: linear-gradient(to bottom, #fff 0, #fff 100px, #87C846 100px, #87C846 100%);
	background: -moz-linear-gradient(top, #fff 0, #fff 100px, #87C846 100px, #87C846 100%);
	background: -webkit-linear-gradient(top, #fff 0, #fff 100px, #87C846 100px, #87C846 100%);
}

.book-title {
	font-family: bookTitle, Arial, Helvetica, sans-serif;
	font-size: 9em;
	font-weight: normal;
	line-height: 0.82em;
	letter-spacing: -0.03em;
	word-spacing: 0.04em;
	white-space: pre-wrap;
	text-transform: uppercase;
	text-align: left;
	color: #2B2E34;
	width: auto;
	font-stretch: ultra-condensed;
	padding-top: 100px;
}
#cover .book-title {
	padding-top: 460px;
	color: #fff;
}
.book-title em:nth-child(1){
	color: #87C846;
}
#cover .book-title em:nth-child(1){
	color: #2B2E34;
}
.book-author {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #2B2E34;
	padding-bottom: 20px;
	border-bottom: 2px solid #444;
	position: absolute;
	left: 60px;
	top: 80px;
	width: 520px;
}
#cover .book-author {
	top: 430px;
	color: #fff;
}
.book-seller {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	padding-top: 20px;
	border-top: 2px solid #444;
	margin-top: 20px;
}
.book-seller em {
	text-transform: none;
}
.book-press {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	text-indent: 1.4em;
	text-transform: uppercase;
	color: #000;
	position: absolute;
	left: 80px;
	top: 40px;
	background-image: url(./images/logo_press.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
}
.book-series {
	width: 80px;
	height: 80px;
	padding: 20px;
	border-radius: 100%;
	background-color: #2B2E34;
	position: absolute;
	top: 40px;
	right: 40px;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.book-series strong {
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 3em;
}
.book-description {
	font-family: bookDescription, Vijaya, Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #87C84C;
	position: absolute;
	left: 80px;
	top: 60px;
}

.page-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #87C846;
}

.contents {
	padding: 40px 0px;
}
.contents li {
	margin: 0px 0px 20px;
}
.contents li dl {
	position: relative;
	padding-left: 60px;
}
.contents li dt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	color: #8586A1;
	padding: 10px 0px 5px 10px;
	border-left: 1px solid #ddd;
}

.contents li dd {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	font-weight: 200;
	color: #2B2E34;
	padding: 5px 0px 10px 10px;
	border-left: 1px solid #ddd;
}
.contents li dd:nth-child(3) {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	line-height: 2.2em;
	text-align: right;
	width: 40px;
	color: #87C846;
	padding: 10px 10px 10px 10px;
	border-left: none;
	position: absolute;
	left: 0px;
	top: 0px;
}
.contents li:last-child dd:nth-child(3) {
	line-height: 1.6em;
}
.contents li:last-child dd:nth-child(2) {
	padding: 0px 0px 10px 10px;
}
.contents li:last-child dd:nth-child(1) {
	display: none;
}

.page-content {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: 500;
	color: #2B2E34;
	line-height: 1.3em;
}
.page-content p {
	margin: 1em 0 1.5em;
}
.section-title {
	font-family: sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #666;
	margin: 1em 0 1em;
	line-height: 1.6em;
	border-bottom: 1px solid #ccc;
}


.photos li {
	float: left;
	width: 100px;
	height: 100px;
	padding: 6px;
	margin: 0 8px 8px 0;
	border: 1px solid #ddd;
	box-shadow: 4px 4px 3px #ccc;
}
.photos li:last-child {
	margin-right: 0;
}
.photos li > img {
	max-width: 100%;
	max-height: 100%;
}
.photos::after {
	content: ".";
	display: block;
	line-height: 0;
	height: 0;
	overflow: hidden;
	width: 100%;
	clear: both;
	background-color: #f00;
}

#test20160520 p:lang(zh-cn) {
	color: #f00;
}
#test20160520 h2 ~ p {
	background-color: #eee;
	color: #f60;
	line-height: 1.4em;
}

#test20160520 h2 ~ p::selection {
	color: #fff;
	background-color: #000;
}
#test20160520 h2 ~ p::-moz-selection {
	color: #fff;
	background-color: #000;
}
#test20160520 .photos li:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in 0.1s;
}
#test20160520 .photos li > img[src*=animal] {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
#test20160520 .photos li > img[src$=gif] {
	transform-origin: 50px 50px;
	transform: rotate(45deg);
}

@media all and (min-width:480px) and (max-width:1280px) {
	#test201605202 h2 strong:before {
		content: "480px ~ 1280px";
	}
}
@media all and (min-width:1281px) and (max-width:2560px) {
	#test201605202 h2 strong:before {
		content: "1280px ~ 2560px";
	}
}
#test201605202 .page-content p:first-letter {
	font-size: 300%;
}
#test201605202 div:empty {
	border: 1px solid #0f0;
}
#test201605202 div:empty:after {
	content: "This was a EMPTY cell";
	color: #999;
	text-shadow: 0 0 3px #f60;
}
#test201605202 .photos li:nth-child(2) {
	background-color: #ddd;
}
#test201605202 .photos li:hover {
	transform: translate(0px, -10px);
	transition: all 0.2s ease-in 0.1s;
}
#test201605202 .photos li:hover {
	transform: translate(0px, -10px);
}

#test201605202 form input:enabled ~ span {
	background-color: #0d0;
	color: #fff;
}
#test201605202 form input:enabled ~ span:after {
	content: "ENABLED";
}
#test201605202 form input:disabled ~ span {
	background-color: #999;
	color: #fff;
}
#test201605202 form input:disabled ~ span:after {
	content: "DISABLED";
}
#test201605202 form input:checked ~ span {
	background-color: #fc3;
	color: #000;
}
#test201605202 form input:checked ~ span:after {
	content: "CHECKED";
}
#test201605202 form textarea {
	width: 100%;
	resize: vertical;
	min-height: 3em;
	max-height: 10em;
	height: 6em;
}
#test201605202 form textarea:focus {
	background-color: #cff;
}
#test201605202 form textarea:empty:after {
	content: "Input some words";
	color: #f60;
}
