@charset "UTF-8";
@import url("../html5/assets/reset.css");
@import url("./elegant_font/style.css");

body {
	color: #000;
	background-color: #F0EFEB;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}
img {
	border: none;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100svh;
	margin: 0 auto;
}
.box {
	margin: 0 auto;
	text-align: center;
	padding: 1.25rem 0px;
	width: 25rem;
	background-color: #FFFFFF;
	border-radius: 2%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
@keyframes flyin {
	to { transform: translate(0, 0); }
}
@media all and (min-width:576px) {
	.box {
		transform: translate(0, -20rem);
		animation: flyin 1.0s ease-out 0.2s;
		animation-fill-mode: forwards;
	}
}

h1.title {
	font-size: 36px;
	color: #666;
	margin: 0px;
	padding: 10px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#shutter {
	margin: 1rem auto;
	width: 128px;
	height: 128px;
	border-radius: 50%;
	overflow: hidden;
}
.avatar {
	display: block;
	width: 256px;
	transform: translate(-128px, 0);
	transition: all 0.2s ease-in 0.1s;
}
.avatar:hover {
	transform: translate(0, 0);
	transition: all 0.2s ease-in 0.1s;
}
.avatar b, .avatar i {
	display: inline-block;
	width:128px;
	height: 128px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}
.avatar b {
	background-image: url(./images/photo.jpg);
	background-size: contain;
}
.avatar i {
	opacity: 0.4;
	background-image: url(./images/github.png);
	background-image: url(./images/github.svg), none;
	background-size: 60%;
}
@keyframes emerge {
	to { opacity:0.4; }
}

@media all and (min-width: 576px) {
	.avatar i {
		opacity: 0;
		animation: emerge 0.8s linear 1.0s;
		animation-fill-mode: forwards;
	}
}

.notice {
	height: 2rem;
	padding: 2rem 0px;
	justify-content: center;
}

.notice p {
	font-family: Menlo, Consolas, Monaco, Courier, monospace;
	font-size: 1rem;
	color: #999;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: .02rem;
	border-right: 2px solid transparent;
}
.notice p:nth-child(2) {
	margin-top: -1em;
	animation: wait 6.4s, blink 0.6s 2 6.4s, type 3.0s steps(20, end) 7.6s, caret 0.1s 10.6s;
}
.notice p:nth-child(1)::before {
	content: 'yo b ';
}
.notice p:nth-child(1) {
	opacity: 0;
	animation: wait 2.0s, blink 0.6s 2 2.0s, yob 1.2s steps(8) 3.2s, hasitate 0.6s 2 4.4s, delete 0.8s steps(7) 5.6s;
}
@keyframes wait {
	from, to { width:0; }
}
@keyframes yob {
	from, to { border-color:#999; opacity:1.0;  }
	from { width:0; }
	to { width:2.5em; }
}
@keyframes hasitate {
	from, to { width:2.5em; border-color:transparent; opacity:1.0; }
	50% { border-color:#999; }
}
@keyframes delete {
	from, to { border-color:#999; opacity:1.0; }
	from { width:2.5em; }
	to { width:0; }
}
@keyframes type {
	from, to { border-color:#999; }
	from { width:0; }
	to { width:6.5em; }
}
@keyframes blink {
	from, to { width:0; border-color:transparent; display:block; }
	50% { border-color:#999; display:block; }
}
@keyframes disappear {
	to { border-color:transparent; }
}

.links {
	margin: 2rem auto 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
	gap: 0 1rem;
}
.links li {
	display: block;
	position: relative;
	font-size: 1.5rem;
	height: 2rem;
	width: 2rem;
	color: #ccc;
	border-radius: 50%;
	transform: translate(0, 3rem);
	animation: floatup 1.0s ease-out;
	animation-fill-mode: forwards;
	opacity: 0;
}
.links li:nth-child(1) {
	animation-delay: 1.0s;
}
.links li:nth-child(2) {
	animation-delay: 1.2s;
}
.links li:nth-child(3) {
	animation-delay: 1.4s;
}
.links li:nth-child(4) {
	animation-delay: 1.6s;
}
.links li:nth-child(5) {
	animation-delay: 1.8s;
}

@keyframes floatup {
	0% {transform:translate(0, 3rem); opacity: 0;}
	70% {transform:translate(0, -0.2rem); opacity: 1;}
	100% {transform:translate(0, 0); opacity: 1;}
}

.links li:hover {
	background-color: #999;
	border-color: #333;
	color: #fff;
	transition: all 0.4s ease-out;
}
.links li:hover a:link, .links li:hover a:visited, .links li:hover a:active {
	color: #fff;
	transition: all 0.4s ease-out;
}
.links li span {
	display: block;
	padding: 0;
	font-weight: normal;
	line-height: 2.25rem;
}
.links li a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Myriad Pro", "Helvetica Neue", Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
	width: 1.5em;
	height: 1.5em;
	text-indent: -12000em;
	text-align: left;
	outline: none;
	text-decoration: none;
}
.links li a:link {
	color: #666;
}
.links li a:visited {
	color: #888;
}

.footer {
	font-weight: normal;
	font-size: 0.8em;
	color: #C6C4BA;
	text-align: center;
	padding: 1rem 0;
	width: 100%;
}

/* mobile styles */

@media all and (max-width: 575.98px) {
	.header {
		display: none;
	}
	.box {
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
	}
	.links {
		flex-flow: column;
		border-top: 1px solid #ddd;
		overflow: hidden;
	}
	.links li {
		opacity: 1;
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		flex-grow: 0 1 0;
		height: auto;
		margin: 0;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		transform: translate(30rem,0);
		animation: slidein 0.8s ease-out;
		animation-fill-mode: forwards;
	}
	@keyframes slidein {
		to { transform: translate(0,0); }
	}
	.links li:nth-child(1) {
		animation-delay: 0s;
	}
	.links li:nth-child(2) {
		animation-delay: 0.2s;
	}
	.links li:nth-child(3) {
		animation-delay: 0.4s;
	}
	.links li:nth-child(4) {
		animation-delay: 0.6s;
	}
	.links li:nth-child(5) {
		animation-delay: 0.8s;
	}

	.links li a {
		display: block;
		position: static;
		width: 100%;
		min-width: 10rem;
		font-size: 1rem;
		text-indent: 0;
		height: 2rem;
		line-height: 2rem;
	}
	.links li span {
		display: block;
		padding: 0 0.75rem;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	.links li i {
		display: block;
		color: #ddd;
		text-indent: 0;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	.links li i::before {
		font-family: ElegantIcons;
		content: "5";
	}
}
